<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="ScreenTimeTrackerRegistry" Guid="*">
        <!-- Main App Registry Entries -->
        <RegistryKey Root="HKCU" Key="Software\screen-time-tracker\app" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="SomeIntegerValue" Value="1" KeyPath="yes"/>
          <RegistryValue Type="string" Name="DefaultSetting" Value="Default Value"/>
        </RegistryKey>

        <!-- Notifications Registry Entries -->
        <RegistryKey Root="HKCU" Key="Software\screen-time-tracker\notifications" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="EnableNotifications" Value="1"/>
        </RegistryKey>

        <!-- Start Menu Shortcut Registry Entry -->
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\StartMenu" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="ScreenTimeTrackerShortcut" Value="[INSTALLDIR]screen-time-tracker.exe"/>
        </RegistryKey>

        <!-- Toast Notification Registry Entry -->
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\PushNotifications" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="EnableToastNotifications" Value="1"/>
        </RegistryKey>

        <!-- Registering App User Model ID (AUMID) -->
        <RegistryKey Root="HKCU" Key="Software\Classes\screen-time-tracker">
          <RegistryValue Type="string" Name="AppUserModelId" Value="com.company.screen-time-tracker" KeyPath="no"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
